<div id="yui-main">
	<div class="yui-b">
		<div class="yui-g">
			
			<h1> Administration </h1>			
			<table class="tarif">
				<tr>
					<td><%= link_to "Faire une annonce", new_annonce_path() %></td>
					<td><%= link_to "Modifier une annonce", annonces_path() %></td>
				</tr>
			</table>
			
		</div>
	</div>
</div>
