div.yui-b h1.entete-accueil {
	font-size: 189%;
	font-weight: bold;
	color: navy;
	text-align: center;
	width: 974px;
	margin-bottom: 10px;
}

div.yui-g {
	padding-left: 10px;
	padding-right: 10px;
	width: 974px;
}

div.yui-g p {
	margin-bottom: 15px;
}

div.yui-g ol li {
	list-style-type: decimal;
	margin-left: 20px;
}

div.yui-u.first {
	
}