div.yui-b h1.entete-accueil {
	font-size: 250%;
	font-weight: bold;
	color: #142b92;
	text-align: center;
	width: 974px;
	margin-bottom: 10px;
}

div.yui-g {
	padding-left: 10px;
	padding-right: 10px;
	width: 974px;
}

div.yui-g p {
	margin-bottom: 15px;
}

div.yui-g ol li {
	list-style-type: decimal;
	margin-left: 20px;
}

div.yui-u.first {
	
}

div#tableau-conso {
	background-color: #ffda36;
	padding: 10px;
}

div#tableau-conso table {
	width: 100%;
	border: 1px solid black;
}

div#tableau-conso table tr {
	border: 1px solid gray;
}

div#tableau-conso table tr td {
	padding: 2px 2px 2px 15px;
}

div#tableau-conso table tr td.pcent {
	text-align: right;
	padding-right: 15px;
}

div#tableau-conso p {
	text-align: center;
}