<% if logged_in? -%>
  <div id="user-bar-greeting">Connecté comme <%= link_to_current_user :content_method => :login %></div>
  <div id="user-bar-action"  >(<%= link_to "Déconnexion", logout_path, { :title => "Log out" }    %>)</div>
<% else -%>
  <div id="user-bar-greeting"><%= link_to_login_with_IP 'Non Connecté', :style => 'border: none;' %></div>
  <div id="user-bar-action"  ><%= link_to "Connexion",  login_path,  { :title => "Log in" } %>
                               <%# link_to "Enregistrement", signup_path, { :title => "Create an account" } %></div>
<% end -%>
