<div id="yui-main">
    <div class="yui-b">
        
        <div class="yui-g">
            <h1>Coordonnées</h1>
            
            <p>
                Tel/Fax : 0590 23 42 10
            </p>
        </div>
    </div>
</div>

<div class="yui-b sidebar">
    <div class="yui-g">
        <h3>Liens Externes</h3>
        
    </div>
</div>