<div id="yui-main">
    <div class="yui-b">
        
        <div class="yui-g contacts">
            
            <p><b>Adresse :</b> 4 route de Gde Ravine 97190 Gosier FWI GUADELOUPE</p>
            <p>
                <b>Tel/Fax :</b> 0590 23 42 10<br/><br/>
                <b>Mobiles :</b> 0690 47 25 41 - 0690 47 75 81
            </p>
            <p>
                <b>Email : </b><%= mail_to "citernplus.gpe@orange.fr", "citernplus.gpe@orange.fr", :encode => "hex" %>
                | <%= mail_to "lek.sylvio@wanadoo.fr", "lek.sylvio@wanadoo.fr", :encode => "hex" %>
            </p>
            
            <p>
                Installée actuellement au Gosier, à Grande Ravine exactement, 200m à gauche, sortant de  P.A.P, après 
                le radar direction Sainte  ANNE, et 200m  à gauche  avant la boite de nuit  ''LA  CASCADE''.
            </p>
            
            
        </div>
    </div>
</div>

<div class="yui-b sidebar">
    <div class="yui-g">
        <h3>Liens Externes</h3>
        <p>
            Votre publicité ici.
        </p>
        <p>
            Votre publicité ici.
        </p>
        <p>
            Votre publicité ici.
        </p>
        <p>
            Votre publicité ici.
        </p>
    </div>
</div>