<div id="yui-main">
    <div class="yui-b">
        
        <div class="yui-g contacts">
            
            
            <h2>Personnels CITERN + Gpe</h2>
            <p>
                <b>Gérant :</b> Sylver KIAVUÉ<br/><br/>
                
                <b>3 équipes de plombiers-installateurs</b><br/><br/>
                
                <b>2 commerciaux</b>                
            </p>
            
            <h2>Coordonnées CITERN + Gpe</h2>
            
            <p>
                Installée actuellement au Gosier, à Grande Ravine exactement, 200m à gauche, sortant de  P.A.P, après 
                le radar direction Sainte  ANNE, et 200m  à gauche  avant la boite  ''LA  CASCADE''.
            </p>
            
            <p><b>Adresse :</b> Gde Ravine 97190 Gosier FWI GUADELOUPE</p>
            <p>
                <b>Tel/Fax :</b> 0590 23 42 10
            </p>
            <p><b>Email : </b><%= mail_to "citernplus.gpe@orange.fr", "citernplus.gpe@orange.fr", :encode => "hex" %></p>
        </div>
    </div>
</div>

<div class="yui-b sidebar">
    <div class="yui-g">
        <h3>Liens Externes</h3>
        <p>
            Votre publicité ici.
        </p>
        <p>
            Votre publicité ici.
        </p>
        <p>
            Votre publicité ici.
        </p>
        <p>
            Votre publicité ici.
        </p>
    </div>
</div>