<div id="yui-main">
    <div class="yui-b">
        <h1 class="entete-accueil">KIT CITERNE - FOSSE SCEPTIQUE - FILTRE EAU</h1>
        
        <div class="yui-g">
            <div class="yui-u first">
                <p><%= image_tag("dessinrecap.jpg") %></p>
                <p>
                    <b>POURQUOI RECUPERER L'EAU DE PLUIE ?</b>
                </p>
                <ol type="1">
                    <li>Disposer d'eau en permanence</li>
                    <li>Faire un geste écologique</li>
                    <li>Réduire sa facture d'eau</li>
                    <li>Faire des économies de suite</li>
                    <li>Avoir 25% de crédit d'impôt</li>
                    <li>Déduire jusqu'à 3 300,00 € de prime de la Région</li>
                </ol>
            </div>
            
            <div class="yui-u">
                 <p>
                     De nos jours, l'eau devient une denrée rare, son prix à presque doublé en 10 ans,
or la Guadeloupe bénéficie d'une pluviométrie importante (en moyenne 2m par an/m2). Cette eau qui tombe sur
votre toit ne doit pas être perdue. En la récupérant dans une citerne couplée à une pompe, vous pouvez
l'utiliser pour l'arrosage, le lavage des sols, l'appoint de la piscine, et même pour votre lave-linge
(voir conditions). Vous réaliserez ainsi environ 50% d'économie sur votre facture. De plus ce dispositif
écologique bénéficie de l'aide de la Région (prime pouvant aller jusqu'à 3 300 €) et d'un crédit d'impôt de
25 %.
                </p>
                
                <div id="tableau-conso">
                    <p><b>CONSOMMATION EN EAU DES MENAGES</b></p>
                    <table>
                        <tr>
                            <td>boisson</td>
                            <td class="pcent">1 %</td>
                        </tr>
                        <tr>
                            <td>cuisine</td>
                            <td class="pcent">6 %</td>
                        </tr>
                        <tr>
                            <td>voiture-jardin</td>
                            <td class="pcent">6 %</td>
                        </tr>
                        <tr>
                            <td>autres usages</td>
                            <td class="pcent">6 %</td>
                        </tr>
                        <tr>
                            <td>lave-linge</td>
                            <td class="pcent">10 %</td>
                        </tr>
                        <tr>
                            <td>lave-vaisselle</td>
                            <td class="pcent">15 %</td>
                        </tr>
                        <tr>
                            <td>sanitaires(wc)</td>
                            <td class="pcent">20 %</td>
                        </tr>
                        <tr>
                            <td>salle de bain</td>
                            <td class="pcent">40 %</td>
                        </tr>
                    </table>
                    <p>
                        Consommation de 150L en moyenne par personne/jour<br/>
                        sources : DIRECTION GENERALE DE LA SANTE 
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

