<div id="yui-main">
    <div class="yui-b">
                
        <div class="yui-g">
            <h1>PROMO/TARIFS</h1>
            
            <table class="tarif">
                <tr>
                    <th>Produit installé</th>
                    <th>Prix de Base</th>
                    <th>Aide Région</th>
                    <th>Apport client</th>
                    <th>Crédit d'impôt 25%</th>
                    <th>Prix de Revient final (toutes aides déduites)</th>
                </tr>
                <tr>
                    <td>3 300L H.SOL COMPLET + SURPRESSEUR EN 1717, INSTALLE</td>
                    <td class="prix-produit">4399 €</td>
                    <td class="aide">± 1760 €</td>
                    <td class="commande">2599.50 €</td>
                    <td>650 €</td>
                    <td class="prix-final">1949.50 €</td>
                </tr>
            </table>
            <p class="conditions">
                Offre valable pour pose kit citerne ayant toutes les connections disponibles près de la citerne plus plate-forme existante.
            </p>
        </div>

        <div class="yui-g">
            <p align="center">
                <b>Volumes citerne disponibles enterrée ou Hors sol de 3,3 m3 à 40 m3, kit complet à partir de 1949,50 € (voir conditions ci-dessus).
                Autres volumes, nous contacter pour devis gratuit (1m3 = 1 000L)</b>
            </p>
            <p align="center">
                Fosse septique de 3 m3 à 5 m3, autres volumes sur devis.<br/>
                Kit complet, installée, + drain, dès 3 595,00 €;
            </p>         
        </div>
        
    </div>
</div>

<div class="yui-b sidebar">
    <div class="yui-g">
        <p class="dossier">
            <span>Téléchargez le Dossier d'Aide du Conseil Régional</span><br/><br/>
            <%= link_to image_tag("icone-telechargement.png"), "http://www.cr-guadeloupe.fr/upload/751/telechargement/20090406225541.pdf" %>
        </p>
    </div>
</div>
