<div id="yui-main">
    <div class="yui-b">
        <div class="yui-g accueil">
            <h1>Prix des Citernes</h1>
            
            <table class="tarif">
                <tr>
                    <th>Produit installé</th>
                    <th>Prix Produit</th>
                    <th>Aide Région</th>
                    <th>Tarif Citernes</th>
                    <th>Crédit d'impôt</th>
                    <th>Prix de Revient final*</th>
                </tr>
                <tr>
                    <td>3 300L H.SOL</td>
                    <td>5 108,66 €</td>
                    <td>± 2226,83 €</td>
                    <td>2876,83 €</td>
                    <td>719,20 €</td>
                    <td>2 157,62 €</td>
                </tr>
                <tr>
                    <td>3 000L ENT</td>
                    <td>5 379,91 €</td>
                    <td>± 2364,95 €</td>
                    <td>3 014,95 €</td>
                    <td>753,73 €</td>
                    <td>2 261,21 €</td>
                </tr>
                <tr>
                    <td>5 300L H.SOL</td>
                    <td>5 596,91 €</td>
                    <td>± 2473,45 €</td>
                    <td>3 123,46 €</td>
                    <td>780,86 €</td>
                    <td>2 342,59 €</td>
                </tr>
                <tr>
                    <td>10 600L H.SOL</td>
                    <td>8 295,00 €</td>
                    <td>± 2800,00 €</td>
                    <td>5 495,00 €</td>
                    <td>1 373,75 €</td>
                    <td>4 121,52 €</td>
                </tr>
                <tr>
                    <td>10 000L ENT</td>
                    <td>8 440,70 €</td>
                    <td>± 3300 €</td>
                    <td>5 140,70 €</td>
                    <td>1 285, 17 €</td>
                    <td>3 855,52 €</td>
                </tr>
                <tr>
                    <td>20M3 ENT PEHD</td>
                    <td>12 455,20 €</td>
                    <td>± 3300,00 €</td>
                    <td>9 155,20 €</td>
                    <td>2 288,80 €</td>
                    <td>6 866,40 €</td>
                </tr>
                <tr>
                    <td>29M3 BETON ENT</td>
                    <td>11 255,89 €</td>
                    <td>± 3300,00 €</td>
                    <td>7 925,89 €</td>
                    <td>1 981,47 €</td>
                    <td>5 944,42 €</td>
                </tr>
            </table>
        </div>
        
        <div class="yui-g accueil">
            <h1>Prix Fosse septique</h1>
            
            <p>
                Fosse septique complète 3000L : 3 595,00 €<br/>
            </p>
            <p>
                Fosse septique complète 5000L : 6 295,00 €<br/>
            </p>
            <p>
                Tout compris :
            </p>
            <ul>
                <li>Fosse</li>
                <li>Fouilles</li>
                <li>Connections</li>
                <li>Pose</li>
                <li>Epandage 6 ml PVC 100</li>
                <li>Pose</li>
                <li>Fourniture</li>
                <li>Garantie 1 an</li>
            </ul>
            <p>Bac a graisse en option, coût à prévoir pour réhausses, terrain rocailleux, etc…</p>
        </div>
    </div>
</div>
