<div id="yui-main">
    <div class="yui-b">
        
        <div class="yui-g accueil">
            <p>Nos prix indiqués sur le tableau joint sont tout compris, enterrées, posées, connectées à la gouttière, aux 
            tuyaux de plomberie et à l'électricité pour la pompe. 
            La plate forme pour les hors sol est à la charge du client, mais nous pouvons, sur présentation de devis 
            réaliser celle-ci.</p> 
            <p>Nous travaillons avec la REGION GUADELOUPE  pour les subventions pouvant aller jusqu'à  50% du 
            système eau de pluie,  plafonnées à  3 300€ , de plus l'État accorde 25% de crédit d'impôt sur le montant de 
            l'investissement, remboursable  sur la déclaration de revenus, en fait il ne reste environ que  25% à la charge 
            du client. </p>
            <p>Notre kit récupération d'eau de pluie est couplé à un surpresseur  silencieux , puissant et économe( 
            550W ) appelé RECUPEO, qui lui est chargé de gérer l'eau dans la citerne et en cas  de manque d'eau dans 
            celle-ci, il se connecte automatiquement sur l'eau de ville, car il gère les deux eaux sans les mélanger.</p> 
            
            <p>Les dossiers du CNASEA, organisme chargé de la gestion des subventions citerne eau de pluie, sont 
            traités entre 2 et 3 mois, pour se faire lors de la signature de la commande, il faut nous fournir une copie :</p>
            <ul>
                <li>− de  pièce d'identité,</li>
                <li>− de  permis de construire ou titre de propriété,</li>
                <li>− de  facture d'eau,</li>
                <li>− du dernier avis d'imposition, accompagné de la quote-part financière de l'attributaire.</li>
            </ul>             
        </div>
        
        <div class="yui-g accueil">
            <h1>Tarifs des Citernes</h1>
            
            <table class="tarif">
                <tr>
                    <th>Produit installé</th>
                    <th>Prix Produit</th>
                    <th>Aide Région</th>
                    <th>A payer de suite</th>
                    <th>Crédit d'impôt 25%</th>
                    <th>Prix de Revient final*</th>
                </tr>
                <tr>
                    <td>3 300L H.SOL</td>
                    <td class="prix-produit">5 108,66 €</td>
                    <td>± 2226,83 €</td>
                    <td class="commande">2876,83 €</td>
                    <td>719,20 €</td>
                    <td class="prix-final">2 157,62 €</td>
                </tr>
                <tr>
                    <td>3 000L ENT</td>
                    <td class="prix-produit">5 379,91 €</td>
                    <td>± 2364,95 €</td>
                    <td class="commande">3 014,95 €</td>
                    <td>753,73 €</td>
                    <td class="prix-final">2 261,21 €</td>
                </tr>
                <tr>
                    <td>5 300L H.SOL</td>
                    <td class="prix-produit">5 596,91 €</td>
                    <td>± 2473,45 €</td>
                    <td class="commande">3 123,46 €</td>
                    <td>780,86 €</td>
                    <td class="prix-final">2 342,59 €</td>
                </tr>
                <tr>
                    <td>10 600L H.SOL</td>
                    <td class="prix-produit">8 295,00 €</td>
                    <td>± 2800,00 €</td>
                    <td class="commande">5 495,00 €</td>
                    <td>1 373,75 €</td>
                    <td class="prix-final">4 121,52 €</td>
                </tr>
                <tr>
                    <td>10 000L ENT</td>
                    <td class="prix-produit">8 440,70 €</td>
                    <td>± 3300 €</td>
                    <td class="commande">5 140,70 €</td>
                    <td>1 285, 17 €</td>
                    <td class="prix-final">3 855,52 €</td>
                </tr>
                <tr>
                    <td>20M3 ENT PEHD</td>
                    <td class="prix-produit">12 455,20 €</td>
                    <td>± 3300,00 €</td>
                    <td class="commande">9 155,20 €</td>
                    <td>2 288,80 €</td>
                    <td class="prix-final">6 866,40 €</td>
                </tr>
                <tr>
                    <td>29M3 BETON ENT</td>
                    <td class="prix-produit">11 255,89 €</td>
                    <td>± 3300,00 €</td>
                    <td class="commande">7 925,89 €</td>
                    <td>1 981,47 €</td>
                    <td class="prix-final">5 944,42 €</td>
                </tr>
            </table>
        </div>
        
        <div class="yui-g accueil">
            <h1>Prix Fosse septique</h1>
            
            <p>
                Fosse septique complète 3000L : 3 595,00 €<br/>
            </p>
            <p>
                Fosse septique complète 5000L : 6 295,00 €<br/>
            </p>
            <p>
                Tout compris :
            </p>
            <ul>
                <li>Fosse</li>
                <li>Fouilles</li>
                <li>Connections</li>
                <li>Pose</li>
                <li>Epandage 6 ml PVC 100</li>
                <li>Pose</li>
                <li>Fourniture</li>
                <li>Garantie 1 an</li>
            </ul>
            <p>Bac a graisse en option, coût à prévoir pour réhausses, terrain rocailleux, etc…</p>
        </div>
    </div>
</div>
